[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.2.0"
pydantic = ">=2.1"
google-api-python-client = "2.154.0"
google-auth-httplib2 = "0.2.0"
google-auth-oauthlib = "1.2.1"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
flake8-pytest-style = "*"
flake8-pyproject = "*"
flake8-black = "*"
jupyter = "*"
ipykernel = "*"
tqdm = "*"

[requires]
python_version = "3.12"
